<html>

<body style="background-color: #C0C0C6"> 
<center><div style="background-color: #F45353; width: 900px; height: 150px;"><center><h1> Are you sure you want to delete <span style="color: white;">{{item_name}}</span> ? </h1></center>

<form action="{{ url_for('deleteItem', category_name=category_name,item_name=item_name)}}" method = 'post'>

<center><input style="width: 100px; background-color: white; border: none;" type='submit', value = 'Delete'></center>




</form>

<a href = "{{url_for('showMenu', category_name = category_name)}}"> <button style="width: 100px; background-color: white; border: none;">Cancel </button></a></div></center>
</body>

</html>